h1 {
background-color: #918e94
text-align: center;
color: red;
}

.formulario {
  background-color: #BF00FF;
  width: 30%;
  margin: auto;
  color: #0000FF;
  text-align: center;
  padding: 20px;
  border-style: solid;
  border-width: 30px;
  border-color: #9AFE2E;
}

a{
  font-family:arial;
  color: #6A0888;
}

#nombre{
  color: #FF0000;
}

.button_1{
  background-color:#FA58D0!important
}
